{% extends 'base.html' %}
<!---->>
{% block title %} ข้อมูลนศ {% endblock title %}
<!---->>
{% block content %} 
{{ message }}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Prefix</th>
        <th scope="col">Name</th>
        <th scope="col">Lastname</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>ID</td>
        <td>Prefix</td>
        <td>Name</td>
        <td>Lastname</td>
        <td>Phone</td>
        <td>Address</td>
      </tr>
    </tbody>
  </table>
 {% endblock content %}
 
{% comment %}  {{  }} ---> ทำการพิมพ์คำว่า variable แล้วจะได้  {% endcomment %}